<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>lys1988_cool@me.com</string>
	<key>artistId</key>
	<integer>374458986</integer>
	<key>artistName</key>
	<string>Minesage</string>
	<key>bundleDisplayName</key>
	<string>天气预报</string>
	<key>bundleShortVersionString</key>
	<string>2.2.0</string>
	<key>bundleVersion</key>
	<string>2.2.0</string>
	<key>copyright</key>
	<string>App梦工厂</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>天气</string>
	<key>genreId</key>
	<integer>6001</integer>
	<key>itemId</key>
	<integer>392901672</integer>
	<key>itemName</key>
	<string>天气预报</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>Minesage</string>
	<key>playlistName</key>
	<string>天气预报</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2014-06-30T12:21:47Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2010-10-14T23:38:26Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1628.phobos.apple.com/us/r30/Purple/v4/c8/a6/b3/c8a6b34c-72e6-6cf1-6d62-e3359751de07/AppIcon57x57.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.aotesiqi.zhongguotianqi</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>567302691</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>2992991</integer>
		<integer>3074860</integer>
		<integer>3083980</integer>
		<integer>3109833</integer>
		<integer>3197260</integer>
		<integer>3228621</integer>
		<integer>3499110</integer>
		<integer>3665502</integer>
		<integer>3758251</integer>
		<integer>3898886</integer>
		<integer>4152660</integer>
		<integer>4177844</integer>
		<integer>5094239</integer>
		<integer>6542503</integer>
		<integer>7683842</integer>
		<integer>8377573</integer>
		<integer>8672643</integer>
		<integer>9848235</integer>
		<integer>10264433</integer>
		<integer>11816213</integer>
		<integer>12963655</integer>
		<integer>13774859</integer>
		<integer>13828484</integer>
		<integer>14022833</integer>
		<integer>15209331</integer>
		<integer>15611325</integer>
		<integer>15832925</integer>
		<integer>30102735</integer>
		<integer>67652639</integer>
		<integer>83614769</integer>
		<integer>121982745</integer>
		<integer>169552753</integer>
		<integer>389952640</integer>
		<integer>423802650</integer>
		<integer>567302691</integer>
	</array>
	<key>userName</key>
	<string>耀生 罗</string>
	<key>vendorId</key>
	<integer>387627</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
