<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>lys1988_cool@me.com</string>
	<key>artistId</key>
	<integer>434173150</integer>
	<key>artistName</key>
	<string>MoJi FengYun (Beijing) Software Tech Developing Co., Ltd</string>
	<key>bundleDisplayName</key>
	<string>MojiWeather</string>
	<key>bundleShortVersionString</key>
	<string>4.8</string>
	<key>bundleVersion</key>
	<string>4.8</string>
	<key>copyright</key>
	<string>墨迹风云</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>天气</string>
	<key>genreId</key>
	<integer>6001</integer>
	<key>itemId</key>
	<integer>434209233</integer>
	<key>itemName</key>
	<string>天气</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>MoJi FengYun (Beijing) Software Tech Developing Co., Ltd</string>
	<key>playlistName</key>
	<string>天气</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2014-06-30T12:21:35Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2011-05-09T07:24:16Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1113.phobos.apple.com/us/r30/Purple4/v4/87/b0/03/87b00343-e685-d154-dc8d-77773239f5cf/Icon.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.moji.MojiWeather</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>600983982</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>3666571</integer>
		<integer>3715247</integer>
		<integer>3856295</integer>
		<integer>4092108</integer>
		<integer>4112834</integer>
		<integer>4151298</integer>
		<integer>4185516</integer>
		<integer>4891943</integer>
		<integer>5852562</integer>
		<integer>7356343</integer>
		<integer>7546766</integer>
		<integer>8119636</integer>
		<integer>9208880</integer>
		<integer>10832506</integer>
		<integer>11790846</integer>
		<integer>12958653</integer>
		<integer>13352459</integer>
		<integer>13849703</integer>
		<integer>14820682</integer>
		<integer>15064769</integer>
		<integer>15578375</integer>
		<integer>15943655</integer>
		<integer>15969005</integer>
		<integer>16601052</integer>
		<integer>79322636</integer>
		<integer>192642649</integer>
		<integer>224112639</integer>
		<integer>263562650</integer>
		<integer>293892760</integer>
		<integer>337952631</integer>
		<integer>411802640</integer>
		<integer>478372694</integer>
		<integer>562532644</integer>
		<integer>600983982</integer>
	</array>
	<key>userName</key>
	<string>耀生 罗</string>
	<key>vendorId</key>
	<integer>515524</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
