<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>andromeda_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,880},{364,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{364,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>antlia_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1988},{152,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{152,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>apus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3964,1390},{110,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>aquarius_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,874},{398,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{398,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>aquila_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,1604},{240,512}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{240,512}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ara_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3810,2390},{166,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{166,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>aries_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2146},{256,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{256,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>auriga_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{372,512}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{372,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bootes_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1944},{302,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,0},{302,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caelum_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1926},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>camelopardalis_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3086,1526},{280,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,0},{280,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cancer_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3600,1030},{362,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{362,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>canes_venatici_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2198},{248,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>canis_major_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2572,864},{364,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{364,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>canis_minor_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,1846},{256,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{256,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>capricornus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{512,372}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{512,372}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>carina_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{464,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{464,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cassiopeia_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,878},{380,512}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,0},{380,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>centaurus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3086,862},{512,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,73},{512,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cepheus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1254},{372,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{372,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cetus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1260},{512,352}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,79},{512,352}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>chamaeleon_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1816},{512,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{512,170}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>circinus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,2204},{106,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{106,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>columba_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3036,2272},{200,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{200,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>coma_berenices_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,2},{512,460}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{512,460}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>corona_australis_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3086,1808},{240,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{240,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>corona_borealis_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3574,2060},{256,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{256,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>corvus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3858,1906},{228,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{228,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crater_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1926},{254,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crux_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3052,2050},{220,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{220,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cygnus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{462,512}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{462,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>delphinus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1988},{156,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{156,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dorado_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1614},{200,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{200,512}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>draco_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,464},{512,414}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{512,414}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>equuleus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3964,1032},{98,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{98,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eridanus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,1246},{356,512}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,0},{356,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fornax_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3600,1802},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gemini_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,468},{404,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{404,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>grus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1604},{320,512}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,0},{320,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>hercules_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,478},{400,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{400,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>horologium_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3964,1132},{122,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{122,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>hydra_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2572,1590},{512,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{512,242}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>hydrus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3086,436},{512,424}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{512,424}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>indus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3968,774},{122,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>lacerta_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2214,2238},{102,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{102,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>leo_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,466},{512,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{512,410}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>leo_minor_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3086,1230},{512,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,109},{512,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>lepus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2248},{256,244}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{256,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>libra_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3294,2284},{188,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{188,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lupus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3344,1808},{256,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{256,228}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lynx_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1274},{512,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{512,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>lyra_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2778,2092},{200,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{200,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mensa_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3552,2464},{256,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{256,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monoceros_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,880},{512,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{512,372}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>musca_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1946},{256,250}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{256,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>norma_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2316,1846},{202,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{202,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>octans_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2248},{242,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orion_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{304,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,0},{304,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>pavo_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2572,2},{512,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{512,436}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>pegasus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3600,516},{512,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,73},{512,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>perseus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{376,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{376,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>phoenix_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3310,2066},{256,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{256,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pictor_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3810,2558},{158,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{158,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pisces_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2572,440},{422,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{422,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piscis_austrinus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2214,2104},{256,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{256,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pyxis_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2494},{256,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{256,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>reticulum_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3600,1544},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sagitta_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2572,1834},{224,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{224,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sagittarius_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3086,2},{432,512}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{432,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scorpius_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{512,474}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{512,474}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sculptor_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3552,2286},{176,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{176,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>scutum_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2520,2060},{200,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{200,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sextans_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1946},{256,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{256,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taurus_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2572,1230},{358,512}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{358,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>telescopium_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2830,1834},{220,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{220,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>triangulum_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3858,1648},{256,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{256,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tucana_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,2062},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ursa_major_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{512,508}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ursa_minor_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3600,2},{512,426}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{512,426}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>virgo_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1628},{316,512}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,0},{316,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>volans_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3832,2164},{224,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{224,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vulpecula_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{3968,516},{256,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,126}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>constellations.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23cf7e2b02c37abd3020a1527244ad0c:1/1$</string>
            <key>textureFileName</key>
            <string>constellations.png</string>
        </dict>
    </dict>
</plist>
